<div class="container-fluid card-livro-padding">
    <div class="row justify-content-center">
        <% for (let contador = 0; contador < produtoData.length; contador++) { %>
            <div class="col-md-4 custom-card-spacing" id="produtoCard<%= produtoData[contador].id %>">
                <div class="card-livro">
                    <h4><%= produtoData[contador].categoria %></h4>
                    <h4><%= produtoData[contador].subcategoria %></h4>
                    <h4><%= produtoData[contador].titulo %></h4>
                    <h4><%= produtoData[contador].data %></h4>
                    <h4><%= produtoData[contador].hora %></h4>
                    <h4><%= produtoData[contador].preco %></h4>
                    <a class="btn-editar" href="/produto/editarProduto?id=<%= produtoData[contador].id %>">Editar</a>
                    <button onclick="deletarProduto('<%= produtoData[contador].id %>')" class="btn-deletar">Deletar</button>
                </div>
            </div>
        <% } %>
    </div>
</div>

<script>
    async function editarProduto(id) {
        try {
            window.location.href = `/editarProduto?id=${id}`;
        } catch (error) {
            console.error('Erro ao editar produto:', error);
        }
    }

    async function deletarProduto(id) {
            if (confirm('Tem certeza que deseja deletar este produto?')) {
                try {
                    const response = await axios.delete(`http://localhost:8080/produto/${id}`);
                    if (response.status === 204 || response.status === 200) {
                        alert('Produto deletado com sucesso!');
                        document.getElementById(`produtoCard${id}`).style.display = 'none';
                    } else {
                        alert('Erro ao deletar o produto.');
                    }
                } catch (error) {
                    console.error('Erro ao deletar produto:', error);
                    alert('Erro ao deletar o produto.');
                }
            }
        }
</script>
